@import "./basic"
@import "./color-controller"
@import "./color-preview"
@import "./color-box"
@import "./pallet"
@import "./slider"
@import "./panel"
@import "./item"
@import "./canvas"
@import "./tab"
@import "./accordion"
@import "./flower"
@import "./media"

body
  padding: 0
  margin: 0

.app
  position: absolute
  margin: 0

.somesim-title
  text-align: center
  font-size: 0.9em
  color: #ddd
  & > .icon
    margin: 0 0.5em
    color: #ccc
    &:active, &:visited, &:link
      color: #ccc
    &:hover
      text-decoration: none
    &:first-child
      margin:
        left: 1em
