title#title MoEそめしむ
link#pageCss(rel='stylesheet',href='/css/app/moe/somesim/index.css?=#{version}')
div#view
div#somesim--splash.somesim--splash
  p.somesim--splash--box
    span.somesim--splash--logo そめしむ@#{version}
    br
    span.somesim--splash--sub loading...
script#pageJs(type='text/javascript',src='/js/app/moe/somesim/index.js?=#{version}')
