@charset "UTF-8";
.hojicha--tab--container {
  display: block;
  text-align: left; }

.hojicha--tab--item {
  display: inline; }

.hojicha--tab--item--label {
  display: inline-block;
  position: relative;
  left: 1px;
  margin-left: -1px;
  vertical-align: bottom;
  border: 1px solid transparent;
  border-bottom: 0;
  background-color: #DDD;
  color: #555;
  padding: 0.1em 0.2em;
  line-height: 1.2em;
  margin-top: 1em;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer; }

.hojicha--tab--item--panel {
  display: inline-block;
  position: relative;
  height: 0;
  width: 0;
  overflow: hidden;
  text-align: left; }

.hojicha--tab--item--contents {
  text-align: default;
  box-sizing: border-box;
  display: block;
  margin-top: -1px;
  float: left;
  width: 100%;
  border: 1px solid #333;
  padding: 1em;
  background-color: #FFF;
  margin-bottom: 1em;
  border-radius: 0 0 2px 2px; }

.hojicha--tab--item--radio {
  position: fixed;
  display: none; }
  .hojicha--tab--item--radio:checked ~ .hojicha--tab--item--panel {
    z-index: 3;
    display: inline; }
  .hojicha--tab--item--radio:checked + .hojicha--tab--item--label {
    z-index: 5;
    background-color: #FFF;
    color: #111; }

.hojicha--tab--item--contents {
  border: 1px solid #CCC; }

.hojicha--tab--item--label {
  border-radius: 3px 3px 0 0;
  background-color: transparent;
  line-height: 1.5em;
  padding: 0.5em;
  color: #666; }

.hojicha--tab--item--radio:checked ~ .hojicha--tab--item--label {
  border: 1px solid #CCC;
  border-bottom: 0;
  color: #333;
  border-color: #CCC; }

.hojicha--tab-nav--container {
  display: block;
  text-align: left;
  border-bottom: 1px solid #333; }

.hojicha--tab-nav--item {
  display: inline; }

.hojicha--tab-nav--item--label {
  display: inline-block;
  position: relative;
  left: 1px;
  margin-left: -1px;
  vertical-align: bottom;
  border: 1px solid transparent;
  border-bottom: 1px solid #333;
  background-color: #DDD;
  color: #555;
  padding: 0.1em 0.2em;
  line-height: 1.2em;
  margin-top: 1em;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: -1px; }

.hojicha--tab-nav--item--radio {
  position: fixed;
  display: none; }
  .hojicha--tab-nav--item--radio:checked + .hojicha--tab-nav--item--label {
    z-index: 5;
    background-color: #FFF;
    color: #111;
    margin-bottom: -1px;
    border-bottom: 1px transparent solid; }

.hojicha--tab-nav--container {
  border-bottom: 1px solid #CCC; }

.hojicha--tab-nav--item--label {
  border-radius: 3px 3px 0 0;
  background-color: transparent;
  line-height: 1.5em;
  padding: 0.5em;
  color: #666;
  border-bottom: 1px solid #CCC; }

.hojicha--tab-nav--item--radio:checked ~ .hojicha--tab-nav--item--label {
  border: 1px solid #CCC;
  color: #333;
  border-color: #CCC;
  border-bottom: 1px solid transparent; }

.title-container {
  height: auto; }

.title {
  text-align: center;
  margin: 0;
  color: #fefefe;
  font-size: 1em; }

.app-version {
  text-align: center;
  font-size: 0.8em;
  color: #fcfcfc; }

.canvas-container {
  position: relative;
  left: 0;
  height: 40%;
  max-height: 400px;
  min-height: 0px;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }
  .canvas-container > .color-preview--container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 0.5em;
    padding-right: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #CCC;
    border-radius: 3px;
    font-size: 0.8em; }
    .canvas-container > .color-preview--container > .color-preview--value {
      color: #fff; }

#canvas {
  margin: 0;
  border-radius: 10px;
  border: 1px solid #CCC;
  height: auto;
  width: auto; }

.control-container {
  height: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 5em;
  flex-grow: 2; }

.control-contents {
  text-align: center;
  display: block;
  background-color: #fff;
  width: 100%;
  border-left: 1px #CCC solid;
  border-right: 1px #CCC solid;
  flex-grow: 1;
  overflow: hidden;
  position: relative; }

.control-panel {
  transition: opacity 0s ease 0.2s, z-index 0.2s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10; }

.control-panel--hidden {
  transition: opacity 0.2s ease 0s, z-index 0.2s ease 0s;
  opacity: 0;
  z-index: -5; }

.color-slider--container {
  display: inline-block; }

.color-slider--group {
  border: 1px solid #CCC;
  border-radius: 3px;
  float: left;
  display: block;
  padding: 0.5em;
  margin: 0.2em; }

.color-slider--slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.color-slider--value {
  display: inline-block;
  width: 9em; }

.equip-panel--container {
  overflow: hidden; }

.equip-panel--gener, .equip-panel--item {
  margin: 0.1em;
  font-size: 0.9em;
  border-radius: 3px; }
  .equip-panel--gener:hover, .equip-panel--item:hover {
    background-color: #aaa;
    color: #fff; }

.equip-panel--gener {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 3px;
  display: block; }
  .equip-panel--gener::before {
    content: "+ ";
    font-size: 1em;
    font-weight: 600; }

.equip-panel--item {
  cursor: pointer;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: height 0.2s ease 0.2s, margin 0.2s ease 0.2s, padding 0.2s ease 0.2s, opacity 0.2s ease 0s; }

.equip-panel--gener--checkbox {
  display: none; }
  .equip-panel--gener--checkbox:checked + .equip-panel--gener::before {
    content: "- "; }
  .equip-panel--gener--checkbox:checked ~ .equip-panel--gener--item--container > .equip-panel--item {
    transition: height 0.2s ease 0s, margin 0.2s ease 0s, padding 0.2s ease 0s, opacity 0.2s ease 0.2s;
    height: 1.2em;
    opacity: 1;
    margin: 0.1em;
    padding: 0.3em;
    padding-bottom: 0.5em; }

.color--color-tip--container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0.3em; }
  .color--color-tip--container:hover > .color--color-tip--tip {
    display: inline-block; }

.color--color-tip {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  cursor: pointer; }

.color--color-tip--tip {
  display: none;
  margin-top: -2em;
  border: none;
  bottom: 2.5em;
  background-color: #493;
  color: #fff;
  position: absolute;
  z-index: 10;
  margin-left: -10.5em;
  font-size: 0.8em;
  width: 20em;
  pointer-events: none;
  border-radius: 3px; }
  .color--color-tip--tip > span {
    color: #fff; }
  .color--color-tip--tip:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1em;
    display: block;
    border-top: 1em solid #493;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    margin-left: -1.25em;
    padding-top: 1px; }

.somesim--splash {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  transition: opacity 0.2s ease 0s;
  position: absolute;
  z-index: 100; }

.somesim--splash--hidden {
  opacity: 0;
  pointer-events: none; }

.somesim--splash--box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.somesim--splash--logo, .somesim--splash--sub {
  color: #fff; }

.somesim--splash--logo {
  font-weight: 600;
  font-size: 2em; }

.color-pallet--container {
  margin-top: 2em; }

@font-face {
  font-family: "icon";
  src: url("/resource/font/icomoon.woff") format("woff"); }
.flower-slot--container {
  display: block;
  height: 2em; }

.flower-slot--slot, .flower-slot--slot--nil, .flower-slot--slot--clear {
  font-family: "icon";
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 1em;
  position: relative; }
  .flower-slot--slot:last-child, .flower-slot--slot--nil:last-child, .flower-slot--slot--clear:last-child {
    margin-right: 0; }
  .flower-slot--slot::after, .flower-slot--slot--nil::after, .flower-slot--slot--clear::after {
    pointer-events: none;
    position: absolute;
    content: "";
    color: #333;
    left: 0;
    top: 1.3em; }

.flower-slot--slot--nil {
  background-color: transparent; }
  .flower-slot--slot--nil::after {
    color: #ccc; }

.flower-slot--slot--selected {
  box-shadow: 0 0 3px 3px #493;
  border-color: transparent; }
  .flower-slot--slot--selected::after {
    content: "";
    color: #333; }
  .flower-slot--slot--selected:hover::after {
    content: "";
    color: #333; }

.flower-slot--slot--clear {
  border-radius: 50%;
  overflow: hidden; }
  .flower-slot--slot--clear::after {
    content: "";
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.flower--list--container {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 4em;
  border-top: 1px solid #ccc; }

.somesim--float-panel {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
  display: block;
  z-index: 20;
  font-size: 1.3em; }
  .somesim--float-panel > .somesim--layer--controller--container {
    margin-right: 0.5em; }
    .somesim--float-panel > .somesim--layer--controller--container:last-child {
      margin-right: 0; }
    .somesim--float-panel > .somesim--layer--controller--container > span {
      cursor: pointer; }
      .somesim--float-panel > .somesim--layer--controller--container > span:hover {
        color: #fff; }

.somesim--layer--checkbox:checked + .somesim--layer--layer, .somesim--layer--checkbox:checked + .somesim--layer--layer + .somesim--layer--panel--close, .somesim--layer--checkbox:checked + .somesim--layer--layer + .somesim--layer--panel--close + .somesim--layer--panel {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease 0s, z-index 0s ease 0s; }

.somesim--layer--layer, .somesim--layer--panel, .somesim--layer--panel--close {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 0.2s ease 0s, z-index 0s ease 0.2s; }

.somesim--layer--checkbox {
  display: none; }
  .somesim--layer--checkbox:checked + .somesim--layer--layer {
    z-index: 50; }
    .somesim--layer--checkbox:checked + .somesim--layer--layer + .somesim--layer--panel--close {
      z-index: 52; }
      .somesim--layer--checkbox:checked + .somesim--layer--layer + .somesim--layer--panel--close + .somesim--layer--panel {
        z-index: 51; }

.somesim--layer--container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }

.somesim--layer--layer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.somesim--layer--panel {
  position: absolute;
  display: block;
  background-color: #fff;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  padding: 1em;
  border: 1px solid #ccc;
  cursor: initial;
  overflow-y: auto;
  overflow-wrap: break-word; }

.somesim--layer--panel--close {
  position: absolute;
  margin-right: -0.5em;
  margin-top: -0.5em;
  top: 10%;
  right: 10%;
  width: 1.5em;
  height: 1.5em;
  font-weight: 900;
  border-radius: 50%;
  border: 0.4em solid #333;
  background-color: #fff;
  color: #333;
  font-size: 2em;
  overflow: hidden;
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box; }

#color_pallet_container {
  margin-top: 1em; }

.hojicha--tab-nav--container {
  text-align: center;
  margin: 0;
  font-size: 0.8em; }

.hojicha--tab-nav--item--label {
  margin-top: 0;
  color: #ccc; }

.hojicha--tab--container {
  text-align: center; }

.hojicha--tab--item--contents {
  text-align: center; }

.app-container {
  text-align: center;
  user-select: none;
  background-color: #222;
  background-image: url("/resource/img/texture-transparent.png"); }

.main-container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; }

h4 {
  background-color: #333;
  color: #FFF;
  padding-left: 0.5em; }

.color-preview--preview {
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  padding-bottom: 0.3em;
  background-color: transparent;
  display: inline-block;
  width: 3em;
  height: 0.8em;
  color: #FFF;
  vertical-align: middle;
  border: 1px #333 solid; }

.color-preview--value {
  display: inline-block;
  width: 10em; }

#tabs_color {
  height: 50%; }

#view, #view > div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

#uri_output {
  width: 50%; }

.stain {
  user-select: none;
  transition: background-color 0.2s;
  margin-bottom: 0.5em;
  border-bottom: 1px #333 solid; }
  .stain, .stain > span, .stain > span > span {
    cursor: pointer; }
  .stain:active {
    background-color: #4Fe; }
