:root {
  --app-dnd-overlay-zindex: 100;
}

app-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.renderer-wrapper {
  max-width: 100%;
}

somesim-renderer {
  max-width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.color-panel,
.color-panel app-tabs {
  height: 100%;
}

.color-picker-container {
  padding: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-color-picker {
  max-width: min(max(30vh, 40vw), 30rem);
}

.color-picker-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  justify-content: center;
  gap: 1.6rem;
}

.color-picker-info--group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4rem;
  padding: 4px 8px;

  background-color: hsl(var(--app-color-background-level2));
  border-radius: var(--app-radii-panel);
}
.color-picker-info--group--label {
  font: var(--app-font-small);
  color: hsl(var(--app-color-foreground-dimmed));
}
.color-picker-info--group--value {
  min-width: 8em;
}

.flower-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.flowers {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 8px 0;
  gap: 1.6rem;

  overflow-y: auto;
}

.stain {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid hsl(var(--app-color-border-level0));
}

.dnd-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: hsl(var(--app-color-background-level0) / 0.5);
  z-index: var(--app-dnd-overlay-zindex);
}
.dnd-overlay[data-active] {
  display: block;
}

.dnd-above-overlay {
  position: relative;

  box-shadow: 0 0 0.8rem hsl(var(--app-color-foreground-normal) / 0.8);
  cursor: copy;

  transition: transform 0.15s ease-out;
  transform: scale(1.2);
  z-index: calc(var(--app-dnd-overlay-zindex) + 1);
}

.info-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 4px;
}

.button {
  --_gradient: linear-gradient(
    to bottom,
    hsl(var(--app-color-background-level2)),
    hsl(var(--app-color-background-level1))
  );
  appearance: none;
  position: relative;
  display: inline-flex;
  padding: 8px calc(8px + 0.8rem);
  font: var(--app-font-body);
  border: 1px solid hsl(var(--app-color-border-level0));

  background: var(--_gradient);
  border-radius: var(--app-radii-control);
  color: hsl(var(--app-color-foreground-normal));
  cursor: pointer;
  overflow: hidden;
}
.button:hover::after,
.button:active::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
.button:hover::after {
  background-color: hsl(var(--app-color-action-hover));
}
.button:active::after {
  background-color: hsl(var(--app-color-action-active));
}

.icon-button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  border: none;
  font-size: 1.4rem;

  border-radius: var(--app-radii-control);
  background: transparent;
  color: hsl(var(--app-color-foreground-dimmed));
  cursor: pointer;
  outline: none;
}
.icon-button:focus {
  outline: none;
}
.icon-button:hover,
.icon-button:focus-visible {
  background-color: hsl(var(--app-color-action-hover));
}
.icon-button:active {
  background-color: hsl(var(--app-color-action-active));
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

dialog {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  gap: 8px;
  padding: 0;
  border: none;
  min-width: 20rem;
  min-height: 12.6rem;
  max-width: min(72rem, calc(100% - 16px));
  max-height: min(64rem, calc(100% - 16px));

  background-color: hsl(var(--app-color-background-level1));
  border-radius: var(--app-radii-panel);
  box-shadow: var(--app-shadow-level0);
  color: hsl(var(--app-color-foreground-normal));

  animation: 0.2s 0.05s ease-in-out both fadein, 0.2s ease-out both slidein;
}
dialog::backdrop {
  background-color: hsl(var(--app-color-background-level0) / 0.5);
  backdrop-filter: blur(5px);
}
dialog:not([open]) {
  display: none;
}

dialog > header,
dialog > footer {
  background-color: hsl(var(--app-color-background-level2));
  box-shadow: var(--app-shadow-level1);
}

dialog > header {
  font: var(--app-font-small);
  padding: 8px calc(8px + 0.8rem);

  color: hsl(var(--app-color-foreground-dimmed));
}

dialog > footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;
}

dialog > main {
  font: var(--app-font-body);
  padding: 8px calc(8px + 0.8rem);

  color: hsl(var(--app-color-foreground-normal));
  overflow-y: auto;
}

.about-logo {
  display: block;
  width: 15rem;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}

.def-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.def-list a {
  font: var(--app-font-body);

  color: hsl(var(--app-color-foreground-normal));
  text-decoration: underline;
  text-decoration-color: hsl(var(--app-color-foreground-dimmed));
}
.def-list a:hover {
  text-decoration-color: hsl(var(--app-color-foreground-normal));
}

.def-list--label {
  font: var(--app-font-small);
  margin-bottom: 0.4rem;
  margin-top: 1.6rem;

  color: hsl(var(--app-color-foreground-dimmed));
}
.def-list--label:first-child {
  margin-top: 0;
}

.def-list--value {
  margin: 0;
}
.def-list--value ul {
  margin: 0;
  padding: 0;
  padding-left: 1.6rem;
}

.path-separator {
  margin: 0 0.5em;
  color: hsl(var(--app-color-foreground-dimmed));
}
