:root {
  --app-dnd-overlay-zindex: 100;
}

app-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.renderer-wrapper {
  max-width: 100%;
}

somesim-renderer {
  max-width: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.color-panel,
.color-panel app-tabs {
  height: 100%;
}

.color-picker-container {
  padding: 3.2rem;
}

app-color-picker {
  max-width: 50vh;
}

.flower-pane {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
}

.flowers {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 8px 0;
  gap: 1.6rem;

  overflow-y: auto;
}

.stain {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid hsl(var(--app-color-border-level0));
}

.dnd-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: hsl(var(--app-color-background-level0) / 0.5);
  z-index: var(--app-dnd-overlay-zindex);
}
.dnd-overlay[data-active] {
  display: block;
}

.dnd-above-overlay {
  position: relative;

  box-shadow: 0 0 0.8rem hsl(var(--app-color-foreground-normal) / 0.8);
  cursor: copy;

  transition: transform 0.15s ease-out;
  transform: scale(1.2);
  z-index: calc(var(--app-dnd-overlay-zindex) + 1);
}
